.lost {
  min-height: calc(100vh - 75px);

  padding: 80px 8%;

  background: #eef0f7;
}

.header {
  max-width: 700px;
}

.header > span {
  color: #6c5ce7;

  font-size: 10px;
  font-weight: 800;

  letter-spacing: 2px;
}

.header h1 {
  margin: 20px 0;

  color: #17172a;

  font-size: 58px;
  line-height: 1.05;
}

.header h1 strong {
  color: #6c5ce7;
}

.header p {
  color: #777;

  font-size: 17px;
  line-height: 1.7;
}


/* Civilization cards */

.civilization-grid {
  max-width: 1100px;

  margin: 60px auto 0;

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 25px;
}

.civilization-card {
  min-height: 330px;

  padding: 32px;

  background: white;

  border: 1px solid #e5e5ed;
  border-radius: 22px;

  color: #17172a;

  text-decoration: none;

  transition: 0.3s;
}

.civilization-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

  border-color: #dcd8ff;
}

.number {
  color: #aaa;

  font-size: 13px;
}

.icon {
  font-size: 45px;

  margin: 45px 0 20px;
}

.civilization-card h2 {
  font-size: 28px;

  margin: 0 0 10px;
}

.civilization-card p {
  color: #777;

  line-height: 1.7;
}

.civilization-card strong {
  display: inline-block;

  margin-top: 15px;

  color: #6c5ce7;

  font-size: 14px;
}

@media (max-width: 700px) {

  .civilization-grid {
    grid-template-columns: 1fr;
  }

  .header h1 {
    font-size: 43px;
  }
}